{% macro render_header(title, url_create, form) %}
  <div class="d-none d-sm-block">
    <div class="row">
      <div class="col-md-2 mb-2">
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_create }}';">{{ _('Add new') }}</button>
      </div>
      <div class="col-md-5 mb-2 text-center">
        <h4>{{ title }}</h4>
      </div>
      {% include '_search_form.html' %}
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div class="row">
      <div class="col-1 z-3 position-absolute mb-2">
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_create }}';"> + </button>
      </div>
      <div class="col-12 mt-1 mb-2 text-center">
        <h4>{{ title }}</h4>
      </div>
    </div>
    <div class="row">
      {% include '_search_form.html' %}
    </div>
  </div>
{% endmacro %}