<form method="get">
  <div class="form-group row">
      <div class="col-sm-1 mt-1 text-center">
          {% if request.args.get('client_id', '0') != '0' %}
            <img src="{{ url_for('static', filename='/card.png') }}" alt="card" width="36">
          {% endif %}
      </div>
      {{ form.location_id.label(class_="col-sm-1 col-form-label text-end") }}
      <div class="col-sm-4">
        {{ form.location_id(class_="form-select") }}
      </div>

      {{ form.staff_id.label(class_="col-sm-1 col-form-label text-end") }}
      <div class="col-sm-4">
        {{ form.staff_id(class_="form-select") }}
      </div>

      <div class="d-none">
        {{ form.client_id(class_="form-select") }}
      </div>

      <div class="col-sm-1 mt-1">
          <a href="{{ url_for('appointments_table') }}"><img src="{{ url_for('static', filename='/refresh.png') }}" alt="edit" width="32"></a>
      </div>
  </div>
</form>