<form method="get">
  <div class="form-group row">
      <div class="col-sm-1 mt-1 text-center">
          {% if request.args.get('client', '0') != '0' %}
            <img src="/card.png" alt="card" width="36">
          {% endif %}
      </div>
      {{ form.location.label(class_="col-sm-1 col-form-label text-end") }}
      <div class="col-sm-4">
        {{ form.location(class_="form-select") }}
      </div>

      {{ form.staff.label(class_="col-sm-1 col-form-label text-end") }}
      <div class="col-sm-4">
        {{ form.staff(class_="form-select") }}
      </div>

      <div class="d-none">
        {{ form.client(class_="form-select") }}
      </div>

      <div class="col-sm-1 mt-1">
          <a href="{{ url_for('appointments') }}"><img src="/refresh.png" alt="edit" width="32"></a>
      </div>
  </div>
</form>