  <table id="data" class="table border-top border-bottom border-light">
    <tbody>
      {% for s in items %}
        <tr id="tr_{{ s.id }}" class="table-default border-start border-end border-light">
          <td class="col-8 ps-3">
            {{ s.name }}
          </td>
          <td class="col-2 text-center">{{ s.duration }} {{ _('min') }}</td>
          <td class="col-2 text-center">
<!--            <a href="" id="{{ s.id }}" onclick="delete_service(id)">-->
<!--              <img src="{{ url_for('static', filename='/delete.png') }}" alt="hidden" width="22">-->
<!--            </a>-->
            {{ s.price }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<script>
  function delete_service(id)  {
      fetch('/select_service/' + id + '/' + 0).then(function(response) {
          response.json().then(function(data) {
          urlParams = new URLSearchParams(window.location.search);
          urlParams.set('mod_services', 1);
          tr = document.getElementById('tr_' + id);
          tr.parentNode.removeChild(tr);
          window.location.search = urlParams;
          })
      });
  }
</script>