{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <form method="post">
        <div class="form-group row">
            {{ form.hidden_tag() }}
            <div class="form-group col-md-4">
                {{ form.location.label(class_="col-form-label") }}
                {% if form.location.errors %}
                    {{ form.location(class_="form-select is-invalid", onchange="select_location(this.selectedIndex)") }}
                {% else %}
                    {{ form.location(class_="form-select", onchange="select_location(this.selectedIndex)") }}
                {% endif %}
                <div class="form-group mt-2">
                    {{ form.staff.label(class_="col-form-label") }}
                    {% if form.staff.errors %}
                        {{ form.staff(class_="form-select is-invalid", onchange="select_staff(this.selectedIndex)") }}
                    {% else %}
                        {{ form.staff(class_="form-select", onchange="select_staff(this.selectedIndex)") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form.client.label(class_="col-form-label") }}
                {% if form.client.errors %}
                    {{ form.client(class_="form-select is-invalid", onchange="select_client(this.selectedIndex)") }}
                {% else %}
                    {{ form.client(class_="form-select", onchange="select_client(this.selectedIndex)") }}
                {% endif %}
                <div class="row mt-2">
                    <div class="col-md-7">
                    {{ form.date.label(class_="col-form-label") }}
                    {% if form.date.errors %}
                        {{ form.date(class_="form-control is-invalid", onchange="select_date(this.value)") }}
                    {% else %}
                        {{ form.date(class_="form-control", onchange="select_date(this.value)") }}
                    {% endif %}
                    </div>
                    <div class="col-md-5">
                    {{ form.time.label(class_="col-form-label") }}
                    {% if form.time.errors %}
                        {{ form.time(class_="form-control is-invalid") }}
                    {% else %}
                        {{ form.time(class_="form-control") }}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <div class="form-group col-md-8">
                {{ form.service.label(class_="col-form-label") }}
                <a href="{{ url_select_service }}"> (select)</a>
                {% include '_services.html' %}
            </div>
            <div class="form-group col-md-8 mt-1">
                {{ form.info.label(class_="col-form-label") }}
                {{ form.info(class_="form-control") }}
            </div>
        </div>
        <div class="form-group mt-2">
            <div class="form-group col-md-8">
                <button type="submit" class="btn btn-primary mt-3 mb-2">Submit</button>
                <button type="button" class="btn btn-secondary mt-3 ms-3 mb-2" onclick="window.location.href='{{ url_back }}'">Back</button>
                {% if id %}
                    <div class="btn-group" role="group" aria-label="">
                      <button type="button" class="btn btn-light mt-3 ms-5 mb-2">More actions</button>
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-light mt-3 mb-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="{{ url_for('appointment_result', appointment_id=id, url_back=request.path) }}">Result</a>
                          <a class="dropdown-item" href="{{ url_for('cash_flow_create', appointment_id=id, url_back=request.path) }}">Payment</a>
                          <a class="dropdown-item" href="{{ url_for('notice_create', client_id=form.client.data, url_back=request.path, appointment_id=id) }}">Notice</a>
                        </div>
                      </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>

<script>
<!--    var location_select = document.getElementById("location");-->
<!--    var service_select = document.getElementById("service");-->

    location_select.onchange = function()  {
        fetch('/services/' + location_select.value).then(function(response) {
            response.json().then(function(data) {
                var optionHTML = "";
                for (var service of data.services) {optionHTML += '<option value="' + service.id + '">' + service.name + '</option>';}
                current_value_service = service_select.value
                service_select.innerHTML = optionHTML;
                service_select.value = current_value_service
            })
        });
    }
</script>
<script>
  function select_location(id)  {
   fetch('/select_location/' + id + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
  }

  function select_staff(id)  {
   fetch('/select_staff/' + id + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
  }

  function select_client(id)  {
   fetch('/select_client/' + id + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
  }

  function select_date(date)  {
   fetch('/select_date/' + date + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
  }
</script>
{% endblock %}