{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="d-block d-lg-none mb-1">
            <div class="form-group">
                <div class="form-group col-md-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ form.service.label(class_="col-form-label") }} *
                        </div>
                        <div class="mt-1">
                            <a class="text-decoration-none text-primary" href="{{ url_select_service }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bag-plus-fill text-primary me-1" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    {% include '_services_xs.html' %}
                </div>
            </div>
        </div>
        {% if items | count == 0 %}
        <div class="d-block d-lg-none alert alert-dismissible alert-secondary mt-3 text-center pt-1 pb-1">
          <div>{{ _('To get the available time, select location, worker and service') }}</div>
        </div>
        {% endif %}
        <div class="row mb-2">
            <div class="form-group col-md-6">
                {% if form.location.choices | count == 1 and form.location.choices[0][0] != 0 %}
                    <div class="d-none d-lg-block">
                {% else %}
                    <div>
                {% endif %}
                    {{ form.location.label(class_="col-form-label") }} {% if form.location.flags.required %}*{% endif %}
                    {% if form.location.errors %}
                        {{ form.location(class_="form-select is-invalid", onchange="select_location(this.value)") }}
                    {% else %}
                        {{ form.location(class_="form-select", onchange="select_location(this.value)") }}
                    {% endif %}
                    </div>
            </div>
            <div class="form-group col-md-6">
                <div class="d-none d-lg-flex justify-content-between">
                    <div>
                        {{ form.client.label(class_="col-form-label") }} {% if form.client.flags.required %}*{% endif %}
                    </div>
                    <div class="mt-2 me-1">
                        <a class="text-decoration-none text-reset" href="{{ url_select_client }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-lines-fill text-primary" viewBox="0 0 16 16">
                              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="d-none d-lg-block">
                    {% if form.client.errors %}
                        {{ form.client(class_="form-select is-invalid", onchange="select_client(this.value)") }}
                    {% else %}
                        {{ form.client(class_="form-select", onchange="select_client(this.value)") }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-2">
                {% if form.staff.choices | count == 1 and form.staff.choices[0][0] != 0 %}
                    <div class="d-none d-lg-block col-md-6">
                {% else %}
                    <div class="col-md-6">
                {% endif %}
                    <div class="form-group">
                        {{ form.staff.label(class_="col-form-label") }} {% if form.staff.flags.required %}*{% endif %}
                        {% if form.staff.errors %}
                            {{ form.staff(class_="form-select is-invalid", onchange="select_staff(this.value)") }}
                        {% else %}
                            {{ form.staff(class_="form-select", onchange="select_staff(this.value)") }}
                        {% endif %}
                    </div>
                </div>
            <div class="col-md-3">
            {{ form.date.label(class_="col-form-label") }} *
            {% if form.date.errors %}
                {{ form.date(class_="form-control is-invalid", onchange="select_date(this.value)") }}
            {% else %}
                {{ form.date(class_="form-control", onchange="select_date(this.value)") }}
            {% endif %}
            </div>
            <div class="col-md-3">
            {{ form.time.label(class_="col-form-label") }} *
            {% if form.time.errors %}
                {{ form.time(class_="form-select is-invalid", onchange="select_time(this.value)") }}
            {% else %}
                {{ form.time(class_="form-select", onchange="select_time(this.value)") }}
            {% endif %}
            </div>
        </div>
        {% if items | count == 0 %}
        <div class="d-none d-lg-block alert alert-dismissible alert-secondary mt-3 text-center pt-1 pb-1">
          <div>{{ _('To get the available time, select location, worker and service') }}</div>
        </div>
        {% endif %}
        <div class="form-group d-col-md-6 d-lg-none mb-3">
            <div class="d-flex justify-content-between">
                <div>
                    {{ form.client.label(class_="col-form-label") }} {% if form.client.flags.required %}*{% endif %}
                </div>
                <div class="mt-2">
                    <a class="text-decoration-none text-reset" href="{{ url_select_client }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-lines-fill text-primary me-1" viewBox="0 0 16 16">
                          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                        </svg>
                    </a>
                </div>
            </div>
            {% if form.client.errors %}
                {{ form.client(class_="form-select is-invalid", onchange="select_client(this.value)") }}
            {% else %}
                {{ form.client(class_="form-select", onchange="select_client(this.value)") }}
            {% endif %}
        </div>
        <div class="form-group">
            <div class="d-none d-lg-block">
                <div class="form-group col-md-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ form.service.label(class_="col-form-label") }} {% if form.service.flags.required %}*{% endif %}
                        </div>
                        <div class="mt-2">
                            <a class="text-decoration-none text-reset" href="{{ url_select_service }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bag-plus-fill text-primary me-1" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    {% include '_services.html' %}
                </div>
            </div>
            <div class="form-group col-md-12 mt-2">
                {{ form.no_check_duration(class_="form-check-input ms-1", onclick="handleClick()") }}
                {{ form.no_check_duration.label(class_="form-check-label ms-3") }}
            </div>
            <div class="form-group col-md-12 mt-2">
                {{ form.allow_booking_this_time(class_="form-check-input ms-1", onclick="handleClick()") }}
                {{ form.allow_booking_this_time.label(class_="form-check-label ms-3") }}
            </div>
            <div class="form-group col-md-12 mt-2">
                {{ form.info.label(class_="col-form-label") }} {% if form.info.flags.required %}*{% endif %}
                {{ form.info(class_="form-control") }}
            </div>
        </div>
        <div class="form-group mt-2">
            <div class="form-group col-md-12">
                <hr>
                <div class="d-flex justify-content-between mt-3 mb-2">
                    <div class="mb-2">
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_back }}'">{{ _('Back') }}</button>
                    </div>
                    {% if appointment_id %}
                    <div class="{% if payment_id %}ms-auto{% endif %} mb-2">
                        <div class="btn-group" role="group" aria-label="">
                          <button type="button" class="btn btn-light">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid-3x3-gap-fill text-primary" viewBox="0 0 16 16">
                                  <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
                              </svg>
                          </button>
                          <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                              <a class="dropdown-item" href="{{ url_for('cash_flow_create', appointment_id=appointment_id, url_back=request.path) }}">{{ _('Payment') }}</a>
                              <a class="dropdown-item" href="{{ url_for('notice_create', client_id=form.client.data, url_back=request.path, appointment_id=appointment_id) }}">{{ _('Notice') }}</a>
                            </div>
                          </div>
                        </div>
                    </div>
                        {% if payment_id %}
                            <div class="me-auto ms-2 mt-1">
                                <a href="{{ url_for('appointment_receipt', appointment_id=appointment_id, url_back=request.path) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-qr-code-scan text-body" viewBox="0 0 16 16">
                                      <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
                                      <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
                                      <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
                                      <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
                                      <path d="M12 9h2V8h-2v1Z"/>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div>
                        <button type="submit" class="btn btn-primary mb-2">{{ _('Submit') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

<script>
  window.addEventListener('load', timeline())
  function handleClick() {
      timeline();
  }

  function select_location(id)  {
   fetch('/select_location/' + id + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
   timeline();
  }

  function select_staff(id)  {
   fetch('/select_staff/' + id + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
   timeline();
  }

  function select_client(id)  {
   fetch('/select_client/' + id + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
   document.getElementById('client').value = id
  }

  function select_date(date)  {
   fetch('/select_date/' + date + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
   timeline();
  }

  function select_time(time)  {
   fetch('/select_time/' + time + '/').then(function(response) {
   response.json().then(function(data) {
   })
   });
  }

  function timeline()  {
    location_id = document.getElementById('location').value
    staff_id = document.getElementById('staff').value
    date = document.getElementById('date').value
    no_check = document.getElementById('no_check_duration').checked
    time = document.getElementById('time')
    if (location_id == "" || staff_id == "" || date == "") {
        var optionHTML = '<option selected value=""> - : - </option>';
        time.innerHTML = optionHTML;
        return false;
    }
    fetch('/get_intervals/' + location_id + '/' + staff_id + '/' + date + '/' + {{ appointment_id|default('0') }} + '/' + no_check).then(function(response) {
        response.json().then(function(data) {
          var optionHTML = '<option value=""> - : - </option>';
          for (var t of data) {
            optionHTML += '<option value="' + t + '">' + t + '</option>';
          }
          current_value = time.value;
          time.innerHTML = optionHTML;
          time.value = current_value
        })
    });
  }
</script>
{% endblock %}