{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    {% import '_header.html' as forms %}
    {{ forms.render_header(moment(month).format('YYYY MMMM'), '', form) }}
    <div class="container border" id="calendar">
        <div class="row row-cols-7 text-center text-primary flex-nowrap" style="background-color: #dae2eb !important">
            <div class="col border"><small>{{ _('Su') }}</small></div>
            <div class="col border"><small>{{ _('Mo') }}</small></div>
            <div class="col border"><small>{{ _('Tu') }}</small></div>
            <div class="col border"><small>{{ _('We') }}</small></div>
            <div class="col border"><small>{{ _('Th') }}</small></div>
            <div class="col border"><small>{{ _('Fr') }}</small></div>
            <div class="col border"><small>{{ _('Sa') }}</small></div>
        </div>
        <div class="row row-cols-7 flex-nowrap">
            {% for date, day in calendar.items() %}
                <div class="col p-0 pe-1 border {% if date < today_date %}bg-secondary bg-opacity-50{% elif date.month != month.month %}bg-light bg-opacity-50{% endif %}">
                    {% if date >= today_date %}
                        <a class="text-decoration-none text-reset" href="{{ url_for('services_table', choice_mode=1, date=date, **request.args) }}">
                    {% endif %}
                    <div class="d-flex align-items-end flex-column" style="height: 60px;">
                        {% if date >= today_date %}
                        {% set counter = {'count': 0} %}
                            <div class="align-self-start ps-1">
                                {% if day.count %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill text-primary" viewBox="0 0 16 16">
                                      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                                      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                    </svg>
                                    <span class=""><small><small>{{ day.count }}</small></small></span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="mt-auto"><small>{{ date.strftime('%d') }}</small></div>
                    </div>
                    {% if date >= today_date %}
                        </a>
                    {% endif %}
                </div>
                {% if loop.index % 7 == 0 %}
                    </div>
                    <div class="row row-cols-7">
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
        </a>
    </div>
    {% import '_calendar_footer.html' as forms %}
    {{ forms.render_footer('appointment_assistant', **request.args) }}
{% endblock %}