{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Jiiin{% else %}{{ _('Welcome to Jiiin') }}!{% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="{{ url_for('index') }}" title="ver. {{ version }} ({{ version_date }})"> Jiiin </a>
    {% if current_user.is_authenticated %}
      <div class="d-flex d-lg-none nav-item justify-content-end">
          <a class="nav-link me-2 {% if request.path == url_for('user_edit', id=current_user.id) %}active{% endif %}" href="{{ url_for('user_edit', id=current_user.id) }}">
              <img src="{{ url_for('static', filename='/profile.png') }}" alt="profile" title="{{ _('Profile') }}" width="26">
          </a>
      </div>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('index') %}active{% endif %}" href="{{ url_for('index') }}">{{ _('About') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == url_for('sendmail') %}active{% endif %}" href="{{ url_for('sendmail', url_back=request.path) }}">{{ _('Contact us') }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('appointments_table') %}active{% endif %}" href="{{ url_for('appointments_table') }}">{{ _('Timetable') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('clients_table') %}active{% endif %}" href="{{ url_for('clients_table') }}">{{ _('Clients') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('notices_table') %}active{% endif %}" href="{{ url_for('notices_table') }}">{{ _('Notices') }}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.path == url_for('cash_table') or request.path == url_for('cash_flow_table') %}active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Cash desk') }}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('cash_table') }}">{{ _('Balance') }}</a>
                    <a class="dropdown-item" href="{{ url_for('cash_flow_table') }}">{{ _('Cash flow') }}</a>
                </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.path == url_for('services_table') or request.path == url_for('locations_table') or request.path == url_for('staff_table') %}active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Company') }}</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('schedules_table') }}">{{ _('Schedules') }}</a>
              <a class="dropdown-item" href="{{ url_for('locations_table') }}">{{ _('Locations') }}</a>
              <a class="dropdown-item" href="{{ url_for('services_table') }}">{{ _('Services') }}</a>
              <a class="dropdown-item" href="{{ url_for('staff_table') }}">{{ _('Staff') }}</a>
              <a class="dropdown-item" href="{{ url_for('holidays_table') }}">{{ _('Holidays') }}</a>
              <a class="dropdown-item" href="{{ url_for('tags_table') }}">{{ _('Tags') }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('quick_start') }}">{{ _('Quick start') }}</a>
              <a class="dropdown-item" href="{{ url_for('company_edit') }}">{{ _('Settings') }}</a>
              <a class="dropdown-item" href="{{ url_for('export', url_back=request.path) }}">{{ _('Export') }}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.path == url_for('report_statistics_view') %}active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Reports') }}</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('report_statistics_view') }}">{{ _('Statistics') }}</a>
          </div>
        </li>
        {% endif %}
      </ul>

      <div class="d-flex">
          <ul class="navbar-nav me-auto">
              {% if current_user.is_authenticated %}
              {% if notices_count %}
              <li class="nav-item">
                  <a class="nav-link me-2" href="{{ url_for('notices_table', date=today_date, processed=False) }}">
                      <img src="{{ url_for('static', filename='/bell.png') }}" alt="notices" title="{{ _('Notices') }}" width="22">
                      <span class="badge bg-secondary rounded-pill">{{ notices_count }}</span>
                  </a>
              </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link me-2 {% if request.path == url_for('sendmail') %}active{% endif %}" href="{{ url_for('sendmail', url_back=request.path) }}">{{ _('Contact us') }}</a>
              </li>
              <li class="d-none d-lg-flex nav-item">
                  <a class="nav-link me-2 {% if request.path == url_for('user_edit', id=current_user.id) %}active{% endif %}" href="{{ url_for('user_edit', id=current_user.id) }}">
                      <img src="{{ url_for('static', filename='/profile.png') }}" alt="profile" title="{{ _('Profile') }}" width="26">
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link me-2" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
              </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link me-2 {% if request.path == url_for('login') %}active{% endif %}" href="{{ url_for('login') }}">{{ _('Login') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2 {% if request.path == url_for('register') %}active{% endif %}" href="{{ url_for('register') }}">{{ _('Register') }}</a>
                </li>
              {% endif %}
         </ul>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
        function hide_message() {
            $('#messages').fadeOut(6000);
        }
    </script>
    <div id="messages" class="container mt-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-warning" role="alert" id="message">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <script type="text/javascript">
           hide_message();
        </script>
    </div>
    <div class="container mt-3">
        {% if modal %}
            {% include '_confirm_form.html' %}
        {% endif %}
        {% block app_content %}{% endblock %}
    </div>
    <div class="container mt-3">
        <div id="footer">
            <p>&copy 2023 Jiiin ver. {{ version }} ({{ version_date }})</p>
        </div>
    </div>
{% endblock %}