{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Jiiin{% else %}{{ _('Welcome to Jiiin') }}!{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="position-relative">
    <a class="navbar-brand ms-3" href="{{ url_for('index') }}" title="ver. {{ version }} ({{ version_date }})"> Jiiin </a>
    {% if current_user.is_authenticated %}
        {% if tariff %}
        <small>
          <span class="position-absolute top-0 start-100 translate-middle badge bg-info">
              {{ tariff }}
          </span>
        </small>
        {% endif %}
    {% endif %}
    </span>
    <div class="d-none d-lg-block ms-4">
    </div>
    {% if current_user.is_authenticated %}
      <div class="d-flex d-lg-none nav-item">
          <a class="nav-link me-2 {% if request.path == url_for('user_edit', id=current_user.id) %}active{% endif %}" href="{{ url_for('user_edit', id=current_user.id) }}">
              <img src="{{ url_for('static', filename='/profile.png') }}" alt="profile" title="{{ _('Profile') }}" width="26">
          </a>
      </div>
    {% endif %}
    <button class="navbar-toggler position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        {% if notices_count %}
            <span class="position-absolute top-0 start-0 translate-middle p-1 bg-danger rounded-circle">
                <span class="visually-hidden">{{ _('Notices') }}</span>
            </span>
        {% endif %}
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('index') %}active{% endif %}" href="{{ url_for('index') }}">{{ _('About') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == url_for('sendmail') %}active{% endif %}" href="{{ url_for('sendmail', url_back=request.path) }}">{{ _('Contact us') }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('appointments_table') %}active{% endif %}" href="{{ url_for('appointments_table') }}">{{ _('Timetable') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('clients_table') %}active{% endif %}" href="{{ url_for('clients_table') }}">{{ _('Clients') }}</a>
        </li>
        <li class="nav-item">
          {% if notices_count%}
          <a class="nav-link {% if request.path == url_for('notices_table') %}active{% endif %}" href="{{ url_for('notices_table', date=today_date, processed=False) }}">
          {% else %}
          <a class="nav-link {% if request.path == url_for('notices_table') %}active{% endif %}" href="{{ url_for('notices_table') }}">
          {% endif %}
              <span class="position-relative pe-2">
                  {{ _('Notices') }}
                  {% if notices_count %}
                  <small>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          {{ notices_count }}
                      </span>
                  </small>
                  {% endif %}
              </span>
          </a>
        </li>
        {% if not current_user.staff %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == url_for('cash_flow_table') %}active{% endif %}" href="{{ url_for('cash_flow_table') }}">{{ _('Cash desk') }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.path == url_for('services_table') or request.path == url_for('locations_table') or request.path == url_for('staff_table') %}active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Company') }}</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('schedules_table') }}">{{ _('Schedules') }}</a>
              <a class="dropdown-item" href="{{ url_for('locations_table') }}">{{ _('Locations') }}</a>
              <a class="dropdown-item" href="{{ url_for('services_table') }}">{{ _('Services') }}</a>
              <a class="dropdown-item" href="{{ url_for('staff_table') }}">{{ _('Staff') }}</a>
              <a class="dropdown-item" href="{{ url_for('holidays_table') }}">{{ _('Holidays') }}</a>
              <a class="dropdown-item" href="{{ url_for('tags_table') }}">{{ _('Tags') }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('price') }}">{{ _('Tariffs') }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('quick_start') }}">{{ _('Quick start') }}</a>
              <a class="dropdown-item" href="{{ url_for('company_edit') }}">{{ _('Settings') }}</a>
              <a class="dropdown-item" href="{{ url_for('export', url_back=request.path) }}">{{ _('Export') }}</a>
          </div>
        </li>
        {% endif %}
        {% endif %}
      </ul>

      <div class="d-flex">
          <ul class="navbar-nav me-auto">
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link me-2 {% if request.path == url_for('sendmail') %}active{% endif %}" href="{{ url_for('sendmail', url_back=request.path) }}">{{ _('Contact us') }}</a>
              </li>
              <li class="d-none d-lg-flex nav-item">
                  <a class="nav-link me-2 {% if request.path == url_for('user_edit', id=current_user.id) %}active{% endif %}" href="{{ url_for('user_edit', id=current_user.id) }}">
                      <img src="{{ url_for('static', filename='/profile.png') }}" alt="profile" title="{{ _('Profile') }}" width="26">
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link me-2" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
              </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link me-2 {% if request.path == url_for('login') %}active{% endif %}" href="{{ url_for('login') }}">{{ _('Login') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2 {% if request.path == url_for('register') %}active{% endif %}" href="{{ url_for('register') }}">{{ _('Register') }}</a>
                </li>
              {% endif %}
         </ul>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
    <script>
        function hide_message() {
            $('#messages').fadeOut(6000);
        }
    </script>
    <div id="messages" class="container mt-2">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible {% if category == 'info' %}alert-success{% else %}alert-warning{% endif %} text-center" role="alert" id="message">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <script type="text/javascript">
           hide_message();
        </script>
    </div>
    <div class="container mt-2">
        {% if modal %}
            {% include '_confirm_form.html' %}
        {% endif %}
        {% block app_content %}{% endblock %}
    </div>
    <div class="container d-flex justify-content-between mt-4">
        <div id="footer">
            <p>&copy 2023 Jiiin ver. {{ version }} ({{ version_date }})</p>
        </div>
        <div class="me-2">
            <a class="text-decoration-none text-reset" href="{{ url_for('change_theme', url_back=request.url) }}">
                {% if theme == 'dark' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-brightness-alt-high" viewBox="0 0 16 16">
                      <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4zm0 1a3 3 0 0 1 2.959 2.5H5.04A3 3 0 0 1 8 8z"/>
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
                      <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
                    </svg>
                {% endif %}
            </a>
        </div>
    </div>
{% endblock %}