{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('cash_flow_create', **request.args) }}';">Add new</button>
    </div>
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-6">Description</th>
        <th class="col-2">Location</th>
        <th class="col-1">Date</th>
        <th class="col-1">Sum</th>
        <th class="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for cfl in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-6 ps-3">
            {{ cfl.description[:60] }}
          </td>
          <td class="col-2 text-center">
            {{ cfl.location }}
          </td>
          <td class="col-1 text-center">
            {{ cfl.date.strftime('%d.%m.%y') }}
          </td>
          <td class="col-1 text-center">
            {{ cfl.sum|float }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('cash_flow_edit', id=cfl.id, **request.args) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('cash_flow_delete', id=cfl.id) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'cash_flow_table', **request.args) }}
{% endblock %}