{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-7 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('client_create') }}';">{{ _('Add new') }}</button>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-6">{{ _('Name') }}</th>
        <th class="col-1">{{ _('History') }}</th>
        <th class="col-1">{{ _('Files') }}</th>
        <th class="col-1">{{ _('Notices') }}</th>
        <th class="col-2">{{ _('Phone') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for c in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-6 ps-3">
            {% if c.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="no_active" width="24">
            {% endif %}
            {{ c.name }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('appointments_table', client_id=c.id) }}">
              <img class="ms-2" src="{{ url_for('static', filename='/table.png') }}" alt="table" width="24">
            </a>
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('client_files_table', id=c.id) }}">
              <img class="ms-2" src="{{ url_for('static', filename='/attach.png') }}" alt="attach" width="22">
            </a>
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('notices_table', client_id=c.id) }}">
              <img class="ms-2" src="{{ url_for('static', filename='/notification.png') }}" alt="notice" width="23">
            </a>
          </td>
          <td class="col-2 text-center">{{ c.phone }}</td>
          <td class="col-1 text-center">
            <a href="{{ url_for('client_edit', id=c.id) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('client_delete', id=c.id) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'clients_table', **request.args) }}
{% endblock %}