{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('client_file_upload', id=id) }}';">{{ _('Add new') }}</button>
    </div>
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-11">{{ _('Title') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for f in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-11 ps-3">
            {{ f.name }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('client_file_download', client_id=id, id=f.id) }}"><img src="{{ url_for('static', filename='/download.png') }}" alt="download" width="24"></a>
            <a href="{{ url_for('client_file_delete', client_id=id, id=f.id) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'client_files_table', **request.args) }}
{% endblock %}