{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<div>Users - {{users_count}}</div>
<div>Services - {{services_count}}</div>
<div>Clients - {{clients_count}}</div>
<div class="charts mt-3">
    <div id="chart-container" style="height: 300px;"></div>
</div>
<script>
    var dataPoints = [];
    {% for date, count in users.items() %}
        dataPoints.push({ label: "{{ date }}", y: {{ count }} })
    {% endfor %}
    var chart = new CanvasJS.Chart("chart-container", {
        title: {
            text: "Users"
        },
        data: [{
            type: "spline",
            dataPoints: dataPoints
        }]
    });
    chart.render();
</script>
{% endblock %}