{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% if info_msg%}
<script>
    function hide_form_message() {
        $('#form_message').fadeOut(5000);
    }
</script>
<div class="col-md-6">
    <div id="form_message" class="alert alert-dismissible alert-success text-center">
      {{ info_msg }}
    </div>
</div>
<script type="text/javascript">
   hide_form_message();
</script>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <form class="form-inline" action="" method="POST" autocomplete="off">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' and field.widget.input_type != 'submit' %}
                <div class="form-group mb-2">
                    {% if field.widget.input_type != 'checkbox' %}
                        {% if field.errors %}
                            {% if field.type == 'SelectField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="form-select is-invalid") }}
                            {% elif field.type == 'MultiCheckboxField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="list-group is-invalid") }}
                            {% else%}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="form-control is-invalid") }}
                            {% endif %}
                        {% else %}
                            {% if field.type == 'SelectField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="form-select") }}
                            {% elif field.type == 'MultiCheckboxField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="list-group") }}
                            {% elif field.type == 'URLField' %}
                                {% if field.data %}
                                    <div class="mt-3 ms-1">
                                        <a class="text-decoration-none" href="{{ field.data }}">{{ field.label.text }}</a>
                                    </div>
                                {% endif %}
                            {% else%}
                                <div class="mt-1">
                                    {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                    {{ field(class_="form-control") }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="mt-3">
                            {{ field(class_="form-check-input") }}
                            {{ field.label(class_="form-check-label ms-1") }} {% if field.flags.required %}*{% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_back }}'">{{ _('Back') }}</button>
                </div>
                <div>
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}