{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row mt-1">
    <div class="col-md-6">
        <form class="form-inline" action="" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' and field.widget.input_type != 'submit' %}
                <div class="form-group mb-2">
                    {% if field.widget.input_type != 'checkbox' %}
                        {% if field.errors %}
                            {% if field.type == 'SelectField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="form-select is-invalid") }}
                            {% elif field.type == 'MultiCheckboxField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="list-group is-invalid") }}
                            {% else%}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="form-control is-invalid") }}
                            {% endif %}
                        {% else %}
                            {% if field.type == 'SelectField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="form-select") }}
                            {% elif field.type == 'MultiCheckboxField' %}
                                {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                {{ field(class_="list-group") }}
                            {% elif field.type == 'URLField' %}
                                <a href="{{ field.data }}">{{ field.label(class_="mt-2 ms-1") }}</a>
                            {% else%}
                                <div class="mt-1">
                                    {{ field.label(class_="col-form-label") }} {% if field.flags.required %}*{% endif %}
                                    {{ field(class_="form-control") }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="mt-3">
                            {{ field(class_="form-check-input") }}
                            {{ field.label(class_="form-check-label ms-1") }} {% if field.flags.required %}*{% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {{ form.submit(class_="btn btn-primary mt-3 mb-2") }}
            <button type="button" class="btn btn-secondary mt-3 ms-3 mb-2" onclick="window.location.href='{{ url_back }}'">{{ _('Back') }}</button>
        </form>
    </div>
</div>
{% endblock %}