{% extends "base.html" %}

{% block app_content %}
  {% import '_header.html' as forms %}
  {{ forms.render_header(_('Holidays'), url_for('holiday_create', **request.args), form) }}
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-2">{{ _('Date') }}</th>
        <th class="col-9">{{ _('Worker') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for h in items %}
        <tr class="d-none d-lg-table-row {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-2 text-center">
            {{ h.date.strftime('%d.%m.%Y') }}
          </td>
          <td class="col-9">
            {% if h.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="edit" width="24">
            {% endif %}
            {{ h.staff.name|truncate(killwords=True, length=60) }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('holiday_edit', id=h.id, **request.args) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('delete', class_name='holiday', object_id=h.id, url_back=url_for('holidays_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
        <tr class="d-none d-sm-table-row d-lg-none {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-2 text-center">
            <a class="text-decoration-none text-reset" href="{{ url_for('holiday_edit', id=h.id, **request.args) }}">
              <div style="height:100%; width:100%">
                {{ h.date.strftime('%d.%m.%y') }}
              </div>
            </a>
          </td>
          <td class="col-9">
            <a class="text-decoration-none text-reset" href="{{ url_for('holiday_edit', id=h.id, **request.args) }}">
              <div style="height:100%; width:100%">
                {{ h.staff.name|truncate(killwords=True, length=40) }}
              </div>
            </a>
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('delete', class_name='holiday', object_id=h.id, url_back=url_for('holidays_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash_2.png') }}" alt="delete" width="24"></a>
          </td>
        </tr>
        <tr class="d-table-row d-sm-none {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-2 text-center">
            <a class="text-decoration-none text-reset" href="{{ url_for('holiday_edit', id=h.id, **request.args) }}">
              <div style="height:100%; width:100%">
                {{ h.date.strftime('%d.%m.%y') }}
              </div>
            </a>
          </td>
          <td class="col-9">
            <a class="text-decoration-none text-reset" href="{{ url_for('holiday_edit', id=h.id, **request.args) }}">
              <div style="height:100%; width:100%">
                {{ h.staff.name|truncate(killwords=True, length=20) }}
              </div>
            </a>
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('delete', class_name='holiday', object_id=h.id, url_back=url_for('holidays_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash_2.png') }}" alt="delete" width="24"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'holidays_table', **request.args) }}
{% endblock %}