{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-2 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('holiday_create', **request.args) }}';">{{ _('Add new') }}</button>
    </div>
    <div class="col-md-5 mb-2 text-center">
      <h4>{{ _('Holidays') }}</h4>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-9">{{ _('Worker') }}</th>
        <th class="col-2">{{ _('Date') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for h in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-9 ps-3">
            {% if h.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="edit" width="24">
            {% endif %}
            {{ h.staff.name|truncate(killwords=True, length=65) }}
          </td>
          <td class="col-2 text-center">
            {{ h.date.strftime('%d.%m.%Y') }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('holiday_edit', id=h.id, **request.args) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('delete', class_name='holiday', object_id=h.id, url_back=url_for('holidays_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'holidays_table', **request.args) }}
{% endblock %}