{% extends "base.html" %}

{% block app_content %}
<h2>Welcome to Jiiin!</h2>
<div style="align-text:justify">
    Jiiin - бесплатная программа для учета клиентов и ведения записи.
    Здесь должен быть большой умный текст о том, какая это замечательная программа. Но мы его пока не написали.
</div>
<div style="align-text:justify; margin-top:10px; margin-bottom:5px">На данный момент у нас есть:</div>
<ul>
    <li>Филиалы (адреса обслуживания)</li>
    <li>Услуги (стоимость, длительность, привязка к филиалам)</li>
    <li>Сотрудники</li>
    <li>Графики работы (филиалов и сотрудников)</li>
    <li>Клиенты (личные данные, файлы, история посещений)</li>
    <li>Напоминания (связаться с клиентом в нужный день)</li>
    <li>Учет денежных поступлений</li>
</ul>
{% endblock %}