{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-7 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('item_create') }}';">{{ _('Add new') }}</button>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-6">{{ _('Title') }}</th>
        <th class="col-1">{{ _('Flow') }}</th>
        <th class="col-1">{{ _('Qty') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for i in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-6 ps-3">
            {{ i.name }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('items_flow_table', item_id=i.id) }}"><img src="{{ url_for('static', filename='/flow.png') }}" title="{{ _('Flow') }}" alt="flow" width="24"></a>
          </td>
          <td class="col-1 text-center">{{ i.get_balance_all()|float }}</td>
          <td class="col-1 text-center">
            <a href="{{ url_for('item_edit', id=i.id) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('item_delete', id=i.id) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'items_table', **request.args) }}
{% endblock %}