{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-2 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('item_flow_create', **request.args) }}';">{{ _('Add new') }}</button>
    </div>
    <div class="col-md-5 mb-2 text-center">
      <h4>{{ _('Item flow') }}</h4>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-6">{{ _('Item') }}</th>
        <th class="col-2">{{ _('Location') }}</th>
        <th class="col-1">{{ _('Date') }}</th>
        <th class="col-1">{{ _('Qty') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for ifl in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-6 ps-3">
            {{ ifl.item.name }}
          </td>
          <td class="col-2 text-center">
            {{ ifl.location }}
          </td>
          <td class="col-1 text-center">
            {{ ifl.date.strftime('%d.%m.%Y') }}
          </td>
          <td class="col-1 text-center">
            {{ ifl.quantity|float }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('item_flow_edit', id=ifl.id, **request.args) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('delete', class_name='item_flow', object_id=ifl.id, url_back=url_for('item_flow_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'items_flow_table', **request.args) }}
{% endblock %}