{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('location_create') }}';">Add location</button>
    </div>
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-2">Name</th>
        <th class="col-5">Address</th>
        <th>Phone</th>
        <th>Hours</th>
        <th class="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for l in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-3 ps-3">
            {% if l.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="hidden" width="24">
            {% endif %}
            {{ l.short_name() }}
          </td>
          <td class="col-4">{{ l.address[:55] }}</td>
          <td class="text-center">{{ l.phone }}</td>
          <td class="text-center">{{ l.open.strftime('%H:%M') }} - {{ l.close.strftime('%H:%M') }}</td>
          <td class="col-1 text-center">
            <a href="{{ url_for('location_edit', id=l.id) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('location_delete', id=l.id) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<div class='d-flex justify-content-end'>
  <ul class="pagination">
    {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('appointments', page=pagination.page-1) }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
    {% endif %}
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('appointments', page=page) }}">{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item active">
            <a class="page-link" href="#">{{ page }}</a>
          </li>
        {% endif %}
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">...</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
       <li class="page-item">
        <a class="page-link" href="{{ url_for('appointments', page=pagination.page+1) }}">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endblock %}