{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-7 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('location_create') }}';">{{ _('Add new') }}</button>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-3">{{ _('Title') }}</th>
        <th class="col-5">{{ _('Address') }}</th>
        <th class="col-3">{{ _('Phone') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for l in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-3 ps-3">
            {% if l.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="hidden" width="24">
            {% endif %}
            {{ l.name }}
          </td>
          <td class="col-4">{{ l.address[:55] }}</td>
          <td class="text-center">{{ l.phone }}</td>
          <td class="col-1 text-center">
            <a href="{{ url_for('location_edit', id=l.id) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('location_delete', id=l.id) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'locations_table', **request.args) }}
{% endblock %}