{% extends "bootstrap/base.html" %}
{% block content %}
{% if payment %}
    <div class="col-md-5">
        <div class="card mb-3">
          <h4 class="card-header text-center">{{payment.company.name}}</h4>
          <div class="card-body text-center">
            <h5 class="card-title">{{payment.location.address}}</h5>
            <h6 class="card-subtitle text-muted">{{payment.location.phone}}</h6>
          </div>
          <div class="d-flex justify-content-center">
            <img class="ms-2" src="{{ url_for('static', filename='/lamp.jpg') }}" alt="logo" width="150px">
          </div>
          <div class="card-body">
            <span class="card-text">Id: {{ payment.id }}</span><br>
            <span class="card-text">Timestamp: {{ payment.timestamp_create.strftime('%d.%m.%Y %H:%M:%S')}}</span>
          </div>
          <ul class="list-group list-group-flush">
                {% for s in services %}
                    <li class="list-group-item">{{ s.name }} </li>
                    <li class="list-group-item text-end">{{ s.price }}</li>
                {% endfor %}
          </ul>
          <div class="card-body">
              <div class="row">
                  <div class="col-4">
                    <strong>{{ _('Total') }}: </strong>
                  </div>
                  <div class="col-8 text-end">
                    <strong>{{ payment.cost }}</strong>
                  </div>
              </div>
          </div>
          <div class="card-footer text-muted text-center">
              <div>Jiiin - free CRM for small business</div>
              <div><a href="https://jiiin.online">www.jiiin.online</a></div>
          </div>
        </div>
    </div>
{% else %}
    <div>{{ _('Invalid request') }}</div>
{% endif %}
{% endblock %}