{% extends "base.html" %}

{% block app_content %}
<div class="row mt-1">
    <div class="col-md-6">
        <form class="form-inline" action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group mt-2">
                {{ form.name.label(class_="col-form-label") }} {% if form.name.flags.required %}*{% endif %}
                {% if form.name.errors %}
                    {{ form.name(class_="form-control is-invalid") }}
                {% else %}
                    {{ form.name(class_="form-control") }}
                {% endif %}
            </div>
            {% if days %}
            <div class="form-group mt-3">
                {% for day in days%}
                    <div class="row ms-2 me-2 d-flex align-items-center">
                        <div class="col-6 lh-lg ps-1">
                            <a class="text-decoration-none" href="{{ url_for('schedule_day_edit', schedule_id=schedule.id, id=day.id, url_back=url_for('schedule_edit', id=schedule.id, **request.args), **request.args) }}">
                            {{ day.weekday }}
                            </a>
                        </div>
                        <div class="col-6 text-end pe-2">{{day.hour_from.strftime('%H:%M')}} - {{day.hour_to.strftime('%H:%M')}}</div>
                    </div>
                {% endfor %}
            </div>
            <a class="text-decoration-none" href="{{ url_for('schedule_reset', id=schedule.id, url_back=url_for('schedule_edit', id=schedule.id)) }}">
                <div class="mt-3 ms-1">{{ _('Reset to default') }}</div>
            </a>
            {% endif %}

            {{ form.submit(class_="btn btn-primary mt-3 mb-2") }}
            <button type="button" class="btn btn-secondary mt-3 ms-3 mb-2" onclick="window.location.href='{{ url_back }}'">{{ _('Back') }}</button>
        </form>
    </div>
</div>
{% endblock %}