{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('staff_schedule_create', id=id) }}';">Add schedule</button>
    </div>
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-4">Name</th>
        <th class="col-3">Location</th>
        <th class="2">Period</th>
        <th class="col-2">Time</th>
        <th class="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for sh in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-4 ps-3">
            {% if sh.no_active %}
              <img src="/hidden.png" alt="hidden" width="24">
            {% endif %}
            {{ sh.staff }}
          </td>
          <td class="col-3 text-center">
            {{ sh.location }}
          </td>
          <td class="col-2 text-center">{{ sh.date_from.strftime('%d.%m.%y') }} - {{ sh.date_to.strftime('%d.%m.%y') }}</td>
          <td class="col-2 text-center">
            {{ sh.time_from.strftime('%H:%M') }} - {{ sh.time_to.strftime('%H:%M') }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('staff_schedule_edit', id=sh.id) }}"><img src="/edit.png" alt="edit" width="24"></a>
            <a href="{{ url_for('staff_schedule_delete', id=sh.id) }}"><img class="ms-2" src="/trash.png" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<div class='d-flex justify-content-end'>
  <ul class="pagination">
    {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('staff_schedule', page=pagination.page-1) }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
    {% endif %}
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('staff_schedule', page=page) }}">{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item active">
            <a class="page-link" href="#">{{ page }}</a>
          </li>
        {% endif %}
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">...</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
       <li class="page-item">
        <a class="page-link" href="{{ url_for('staff_schedule', page=pagination.page+1) }}">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endblock %}