{% extends "base.html" %}

{% block app_content %}
  {% import '_header.html' as forms %}
  {{ forms.render_header(_('Services'), url_for('service_create', **request.args), form) }}
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="d-none d-lg-table-row border-start border-end border-light text-center">
        <th class="col-7">{{ _('Title') }}</th>
        <th class="col-2">{{ _('Locations') }}</th>
        <th class="col-1">{{ _('Time') }}</th>
        <th class="col-1">{{ _('Price') }}</th>
        <th class="col-1"></th>
      </tr>
      <tr class="d-table-row d-lg-none table-primary border-start border-end border-light text-center">
        <th class="col-9">{{ _('Title') }}</th>
        <th class="col-3"></th>
      </tr>
    </thead>
    <tbody>
      {% for s in items %}
        <tr class="d-none d-lg-table-row {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-7 ps-3">
            {% if s.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="hidden" width="24">
            {% endif %}
            {{ s.name|truncate(killwords=True, length=50) }}
          </td>
          <td class="col-2 text-center">
            <span class="badge bg-primary rounded-pill">{{ s.locations|count }}</span>
          </td>
          <td class="col-1 text-center">{{ s.duration }}</td>
          <td class="col-1 text-center">{{ s.price }}</td>
          <td class="col-1  text-center">
            <a href="{{ url_for('service_edit', id=s.id) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('delete', class_name='service', object_id=s.id, url_back=url_for('services_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
        <tr class="d-none d-sm-table-row d-lg-none {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-11">
            <a class="text-decoration-none text-reset" href="{{ url_for('service_edit', id=s.id) }}">
              <div style="height:100%; width:100%">
                {{ s.name|truncate(killwords=True, length=50) }}
              </div>
            </a>
          </td>
          <td class="col-1 text-center">
            <a class="text-decoration-none text-reset" href="{{ url_for('delete', class_name='service', object_id=s.id, url_back=url_for('services_table', **request.args)) }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-primary" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
            </a>
          </td>
        </tr>
        <tr class="d-sm-none {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-11">
            <a class="text-decoration-none text-reset" href="{{ url_for('service_edit', id=s.id) }}">
              <div style="height:100%; width:100%">
                {{ s.name|truncate(killwords=True, length=28) }}
              </div>
            </a>
          </td>
          <td class="col-1 text-center">
            <a class="text-decoration-none text-reset" href="{{ url_for('delete', class_name='service', object_id=s.id, url_back=url_for('services_table', **request.args)) }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-primary" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'services_table', **request.args) }}
{% endblock %}