{% extends "base.html" %}

{% block app_content %}
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-1"></th>
        <th>{{ _('Title') }}</th>
        <th class="col-1"><img class="ms-2" src="{{ url_for('static', filename='/time.png') }}" alt="time" width="22"></th>
        <th class="col-2"><img class="ms-2" src="{{ url_for('static', filename='/price.png') }}" alt="price" width="21"></th>
      </tr>
    </thead>
    <tbody>
      {% for s in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-1 ps-3">
            {% if s.id | string() in session['services'] %}
              <input class="form-check-input" type="checkbox" value="" id="{{ s.id }}" onchange="select_checkbox(id, checked)" checked="">
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="{{ s.id }}" onchange="select_checkbox(id, checked)">
            {% endif %}
          </td>
          <td>
            {% if s.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="hidden" width="24">
            {% endif %}
            {{ s.name[:80] }}
          </td>
          <td class="col-1 text-center">{{ s.duration }}</td>
          <td class="col-2 text-center">{{ s.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div id="services-count">Selected services: {{ session.get('services', []) | count }}</div>
  {% if session.get('services', []) | count > 0 %}
    <button type="button" id="submit" class="btn btn-primary mt-3" onclick="window.location.href='{{ url_submit }}'">{{ _('Select') }}</button>
  {% else %}
    <button type="button" id="submit" class="btn btn-primary disabled mt-3" onclick="window.location.href='{{ url_submit }}'">{{ _('Select') }}</button>
  {% endif%}
  {% if id%}
    <button type="button" class="btn btn-secondary mt-3 ms-3" onclick="window.location.href='{{ url_back }}'">{{ _('Back') }}</button>
  {% endif%}
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'services_table', **request.args) }}

<script>
  function select_checkbox(id, checked)  {
      if (checked){
        value = 1
      } else {
        value = 0
      }
      fetch('/select_service/' + id + '/' + value).then(function(response) {
          response.json().then(function(data) {
            var block = document.getElementById('services-count');
            block.innerHTML = 'Selected services: ' + data;
            var submit = document.getElementById('submit');
            if (data > 0) {
              submit.classList.remove('disabled')
            } else {
              submit.classList.add('disabled')
            }
          })
      });
  }
</script>
{% endblock %}
