{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-2 mb-2">
  <!--    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('service_create') }}';">{{ _('Add new') }}</button>-->
    </div>
    <div class="col-md-5 mb-2 text-center">
        <h4>{{ _('Services') }}</h4>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="d-none d-lg-table-row border-start border-end border-light text-center">
        <th class="col-10">{{ _('Title') }}</th>
        <th class="col-1">{{ _('Time') }}</th>
        <th class="col-1">{{ _('Price') }}</th>
      </tr>
      <tr class="d-lg-none table-row border-start border-end border-light text-center">
        <th class="12">{{ _('Title') }}</th>
       </tr>
    </thead>
    <tbody>
      {% for s in items %}
        <tr class="d-none d-lg-table-row {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-10 ps-3">
            {% if appointment_id %}
              <a class="text-decoration-none text-reset" href="{{ url_for('select_service', service_id=s.id, selected=1, url_back=url_for('appointment_edit', id=appointment_id, mod_services=1, **request.args)) }}">
            {% else %}
              <a class="text-decoration-none text-reset" href="{{ url_for('select_service', service_id=s.id, selected=1, url_back=url_for('appointment_create', **request.args)) }}">
            {% endif %}
              <div style="height:100%; width:100%">
                {{ s.name|truncate(killwords=True, length=60) }}
              </div>
              </a>
          </td>
          <td class="col-1 text-center">{{ s.duration }}</td>
          <td class="col-1 text-center">{{ s.price }}</td>
        </tr>
        <tr class="d-none d-sm-table-row d-lg-none {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-12">
            {% if appointment_id %}
              <a class="text-decoration-none text-reset" href="{{ url_for('select_service', service_id=s.id, selected=1, url_back=url_for('appointment_edit', id=appointment_id, mod_services=1, **request.args)) }}">
            {% else %}
              <a class="text-decoration-none text-reset" href="{{ url_for('select_service', service_id=s.id, selected=1, url_back=url_for('appointment_create', **request.args)) }}">
            {% endif %}
              <div style="height:100%; width:100%">
                {{ s.name|truncate(killwords=True, length=50) }}
              </div>
              </a>
          </td>
        </tr>
        <tr class="d-sm-none table-row {{ loop.cycle('table-default', 'table-light') }} border-start border-end border-light">
          <td class="col-12">
            {% if appointment_id %}
              <a class="text-decoration-none text-reset" href="{{ url_for('select_service', service_id=s.id, selected=1, url_back=url_for('appointment_edit', id=appointment_id, mod_services=1, **request.args)) }}">
            {% else %}
              <a class="text-decoration-none text-reset" href="{{ url_for('select_service', service_id=s.id, selected=1, url_back=url_for('appointment_create', **request.args)) }}">
            {% endif %}
              <div style="height:100%; width:100%">
                {{ s.name|truncate(killwords=True, length=28) }}
              </div>
              </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'services_table', **request.args) }}

{% endblock %}
