{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-2 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('staff_create', **request.args) }}';">{{ _('Add new') }}</button>
    </div>
    <div class="col-md-5 mb-2 text-center">
      <h4>{{ _('Staff') }}</h4>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-7 text-center">{{ _('Name') }}</th>
        <th class="col-2 text-center">{{ _('Birthday') }}</th>
        <th class="col-2 text-center">{{ _('Phone') }}</th>
        <th class="col-1 text-center"></th>
      </tr>
    </thead>
    <tbody>
      {% for st in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-7 ps-3">
            {% if st.no_active %}
              <img src="{{ url_for('static', filename='/hidden.png') }}" alt="hidden" width="24">
            {% endif %}
            {{ st.name|truncate(killwords=True, length=65) }}
          </td>
          <td class="col-2 text-center">
            {% if st.birthday %}
              {{ st.birthday.strftime('%d.%m.%Y') }}</td>
            {% endif %}
          <td class="col-2 text-center">{{ st.phone }}</td>
          <td class="col-1 text-center">
            <a href="{{ url_for('staff_edit', id=st.id) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('delete', class_name='staff', object_id=st.id, url_back=url_for('staff_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'staff_table', **request.args) }}
{% endblock %}