{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-2 mb-2">
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('tag_create') }}';">{{ _('Add new') }}</button>
    </div>
    <div class="col-md-5 mb-2 text-center">
      <h4>{{ _('Tags') }}</h4>
    </div>
    {% include '_search_form.html' %}
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-6">{{ _('Title') }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for t in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-11 ps-3">
            {{ t.name }}
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('tag_edit', id=t.id) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('delete', class_name='tag', object_id=t.id, url_back=url_for('tags_table')) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'tags_table', **request.args) }}
{% endblock %}