{% extends "base.html" %}

{% block app_content %}
  {% import '_header.html' as forms %}
  {{ forms.render_header(_('Timetable'), url_for('services_table', choice_mode=1, **request.args), form) }}
  <!--Screen LG-XL-->
  <div class="d-none d-lg-block">
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
        <tr class="table-row table-primary border-start border-end border-light text-center">
          <th class="col-2">{{ _('Date / time') }}</th>
          <th class="col-2">{{ _('Location') }}</th>
          <th class="col-3">{{ _('Worker') }}</th>
          <th class="col-4">{{ _('Client') }}</th>
          <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
      {% for a in items %}
          <tr class="table-row {{ loop.cycle('table-default', 'table-light') }}  border-start border-end border-light">
            <td class="col-2 text-center">{{ a.date_time.strftime('%d.%m.%y %H:%M') }}-{{ (a.date_time + a.duration).strftime('%H:%M') }}</td>
            <td class="col-2 ps-3">{{ a.location.name|truncate(killwords=True, length=15) }}</td>
            <td class="col-3 text-center">{{ a.staff.name|truncate(killwords=True, length=24) }}</td>
            <td class="col-3 text-center">{{ a.client.name|truncate(killwords=True, length=35) }}</td>
            <td class="col-1 text-center">
              <a href="{{ url_for('appointment_edit', id=a.id, **request.args) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
              <a href="{{ url_for('delete', class_name='appointment', object_id=a.id, url_back=url_for('appointments_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <!--Screen SM-MD-->
  <div class="d-none d-sm-block d-lg-none col-md-12">
    <div class="row text-center mt-2 mb-2">
      <div class="col-4">
        {% if request.args.get('period') == 'today' %}
          {{ _('Today') }}
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=today_date, period='today') }}">
            {{ _('Today') }}
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'week' %}
            {{ _('Week') }}
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=week_date, period='week') }}">
            {{ _('Week') }}
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'all' %}
          {{ _('All') }}
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', period='all') }}">
            {{ _('All') }}
          </a>
        {% endif %}
      </div>
    </div>
    {% set current_date = {'date': ''} %}
    {% for a in items %}
      {% if a.date_time.date() != current_date.date %}
        <div class="row mb-1 text-center">
          <span>{{ a.date_time.strftime('%d.%m.%Y') }}</span>
        </div>
        {% if current_date.update({'date': a.date_time.date()}) %} {% endif%}
      {% endif %}
      <div class="card border-primary mb-3" >
        <a class="text-decoration-none text-reset" href="{{ url_for('appointment_edit', id=a.id, **request.args) }}">
        <div class="card-header" style="background-color: #dae2eb !important">
          <div class="row text-dark">
            <div class="col-7">
              {{ a.location.name|truncate(killwords=True, length=40) }}
            </div>
            <div class="col-5 d-flex justify-content-end">
              {{ a.date_time.strftime('%d.%m.%y %H:%M') }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <span class="card-text">
            {{ a. client.name|truncate(killwords=True, length=60) }}<br/>
            {{ a. client.phone }}
          </span>
<!--          <div>-->
<!--            <hr>-->
<!--            {% for service in a.services %}-->
<!--              <span class="list-group-item text-body">{{ service.name|truncate(killwords=True, length=60) }}</span>-->
<!--            {% endfor %}-->
<!--          </div>-->
        </div>
        </a>
        <div class="card-footer">
          <div class="row text-dark">
            <div class="col-10">
              <span class="me-2">{{ _('Time') }}: {{ '%02d' % (a.duration.seconds // 3600) }}:{{ '%02d' % (a.duration.seconds % 3600 // 60) }}</span>
              <span>{{ _('Sum') }}: {{ a.cost }}</span>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <a href="{{ url_for('delete', class_name='appointment', object_id=a.id, url_back=url_for('appointments_table', **request.args)) }}"><img src="{{ url_for('static', filename='/trash_2.png') }}" alt="delete" width="24"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!--Screen XS-->
  <div class="d-sm-none col-md-12">
    <div class="row text-center mb-2">
      <div class="col-4">
        {% if request.args.get('period') == 'today' %}
          {{ _('Today') }}
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=today_date, period='today') }}">
            {{ _('Today') }}
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'week' %}
            {{ _('Week') }}
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=week_date, period='week') }}">
            {{ _('Week') }}
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'all' %}
          {{ _('All') }}
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', period='all') }}">
            {{ _('All') }}
          </a>
        {% endif %}
      </div>
    </div>
    {% set current_date = {'date': ''} %}
    {% for a in items %}
      {% if a.date_time.date() != current_date.date %}
        <div class="row mb-1 text-center">
          <span>{{ a.date_time.strftime('%d.%m.%Y') }}</span>
        </div>
        {% if current_date.update({'date': a.date_time.date()}) %} {% endif%}
      {% endif %}
      <div class="card border-primary mb-3" >
        <a class="text-decoration-none text-reset" href="{{ url_for('appointment_edit', id=a.id, **request.args) }}">
        <div class="card-header" style="background-color: #dae2eb !important">
          <div class="row text-dark">
            <div class="col-7">
              {{ a.location.name|truncate(killwords=True, length=20) }}
            </div>
            <div class="col-5 d-flex justify-content-end">
              {{ a.date_time.strftime('%d.%m.%y %H:%M') }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <span class="card-text">
            {{ a. client.name|truncate(killwords=True, length=32) }}<br/>
            <object>
              <a class="text-decoration-none text-primary" href="tel:{{ a. client.phone }}">{{ a. client.phone }}</a>
            </object>
          </span>
<!--          <div>-->
<!--            <hr>-->
<!--            {% for service in a.services %}-->
<!--              <span class="list-group-item text-body">{{ service.name|truncate(killwords=True, length=32) }}</span>-->
<!--            {% endfor %}-->
<!--          </div>-->
        </div>
        </a>
        <div class="card-footer">
          <div class="row text-dark">
            <div class="col-10">
              <span class="me-2">{{ _('Time') }}: {{ '%02d' % (a.duration.seconds // 3600) }}:{{ '%02d' % (a.duration.seconds % 3600 // 60) }}</span>
              <span>{{ _('Sum') }}: {{ a.cost }}</span>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <a href="{{ url_for('delete', class_name='appointment', object_id=a.id, url_back=url_for('appointments_table', **request.args)) }}"><img src="{{ url_for('static', filename='/trash_2.png') }}" alt="delete" width="24"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'appointments_table', **request.args) }}
{% endblock %}