{% extends "base.html" %}
{% block app_content %}
  {% import '_header.html' as forms %}
  {{ forms.render_header(_('Timetable'), url_for('appointment_assistant'), form) }}
<div id="timetable" class="container p-0">
  <!--Screen LG-XL-->
  <div class="d-none d-lg-block">
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
        <tr class="table-row table-primary border-start border-end border-light text-center">
          <th class="col-2">{{ _('Date / time') }}</th>
          <th class="col-2">{{ _('Location') }}</th>
          <th class="col-3">{{ _('Worker') }}</th>
          <th class="col-4">{{ _('Client') }}</th>
          <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
      {% for a in items %}
          <tr class="table-row {{ loop.cycle('table-default', 'table-light') }}  border-start border-end border-light">
            <td class="col-2 text-center">{{ a.date_time.strftime('%d.%m.%y %H:%M') }}-{{ (a.date_time + a.duration).strftime('%H:%M') }}</td>
            <td class="col-2 ps-3">{{ a.location.name|truncate(killwords=True, length=15) }}</td>
            <td class="col-3 text-center">{{ a.staff.name|truncate(killwords=True, length=24) }}</td>
            <td class="col-3 text-center">{{ a.client.name|truncate(killwords=True, length=35) }}</td>
            <td class="col-1 text-center">
              <a href="{{ url_for('appointment_edit', id=a.id, **request.args) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
              <a href="{{ url_for('delete', class_name='appointment', object_id=a.id, url_back=url_for('appointments_table', **request.args)) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <!--Screen SM-MD-->
  <div class="d-none d-sm-block d-lg-none col-md-12">
    <div class="row text-center mt-2 mb-2">
      <div class="col-4">
        {% if request.args.get('period') == 'today' %}
          <small>{{ _('Today') }}</small>
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=today_date, period='today') }}">
            <small>{{ _('Today') }}</small>
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'week' %}
          <small>{{ _('Week') }}</small>
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=week_date, period='week') }}">
            <small>{{ _('Week') }}</small>
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'all' %}
          <small>{{ _('All') }}</small>
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', period='all') }}">
            <small>{{ _('All') }}</small>
          </a>
        {% endif %}
      </div>
    </div>
    {% set current_date = {'date': ''} %}
    {% for a in items %}
      {% if a.date_time.date() != current_date.date %}
        <div class="row mb-1 text-center text-primary-emphasis">
          <small><span>{{ a.date_time.strftime('%d.%m.%Y') }}</span></small>
        </div>
        {% if current_date.update({'date': a.date_time.date()}) %} {% endif%}
      {% endif %}
      <div class="card border-primary mb-3" >
        <a class="text-decoration-none text-reset" href="{{ url_for('appointment_edit', id=a.id, **request.args) }}">
        <div class="card-header pt-1 pb-1 ps-2 pe-2" style="background-color: #dae2eb !important">
          <div class="row text-dark">
            <div class="col-7">
              <small>{{ a.location.name|truncate(killwords=True, length=40) }}</small>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <small>{{ a.date_time.strftime('%d.%m.%y %H:%M') }}</small>
            </div>
          </div>
        </div>
        <div class="card-body pt-1 pb-1 ps-2 pe-2">
          <small>
            <span class="card-text">
              {{ a. client.name|truncate(killwords=True, length=60) }}<br/>
              {{ a. client.phone }}
            </span>
          </small>
        </div>
        </a>
        <div class="card-footer pt-1 pb-1 ps-2 pe-2">
          <div class="row text-dark">
            <div class="col-10">
              <small>
                <span class="me-2">{{ _('Time') }}: {{ '%02d' % (a.duration.seconds // 3600) }}:{{ '%02d' % (a.duration.seconds % 3600 // 60) }}</span>
                <span>{{ _('Sum') }}: {{ a.cost }}</span>
              </small>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <a href="{{ url_for('delete', class_name='appointment', object_id=a.id, url_back=url_for('appointments_table', **request.args)) }}"><img src="{{ url_for('static', filename='/trash_2.png') }}" alt="delete" width="24"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!--Screen XS-->
  <div class="d-sm-none col-md-12">
    <div class="row text-center mb-2">
      <div class="col-4">
        {% if request.args.get('period') == 'today' %}
          <small>{{ _('Today') }}</small>
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=today_date, period='today') }}">
            <small>{{ _('Today') }}</small>
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'week' %}
          <small>{{ _('Week') }}</small>
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', date_time_from=today_date, date_time_to=week_date, period='week') }}">
            <small>{{ _('Week') }}</small>
          </a>
        {% endif %}
      </div>
      <div class="col-4">
        {% if request.args.get('period') == 'all' %}
          <small>{{ _('All') }}</small>
        {% else %}
          <a class="text-decoration-none" href="{{ url_for('appointments_table', period='all') }}">
            <small>{{ _('All') }}</small>
          </a>
        {% endif %}
      </div>
    </div>
    {% set current_date = {'date': ''} %}
    {% for a in items %}
      {% if a.date_time.date() != current_date.date %}
        <div class="row mb-1 text-center text-primary-emphasis">
          <small><span>{{ a.date_time.strftime('%d.%m.%Y') }}</span></small>
        </div>
        {% if current_date.update({'date': a.date_time.date()}) %} {% endif%}
      {% endif %}
      <div class="card border-primary mb-3" >
        <a class="text-decoration-none text-reset" href="{{ url_for('appointment_edit', id=a.id, **request.args) }}">
        <div class="card-header pt-1 pb-1 ps-2 pe-2" style="background-color: #dae2eb !important">
          <div class="row text-dark">
            <div class="col-7">
              <small>{{ a.location.name|truncate(killwords=True, length=20) }}</small>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <small>{{ a.date_time.strftime('%d.%m.%y %H:%M') }}</small>
            </div>
          </div>
        </div>
        <div class="card-body pt-1 pb-1 ps-2 pe-2">
          <small>
            <span class="card-text">
              {{ a. client.name|truncate(killwords=True, length=40) }}<br/>
              <object>
                <a class="text-decoration-none text-primary" href="tel:{{ a. client.phone }}">{{ a. client.phone }}</a>
              </object>
            </span>
          </small>
        </div>
        </a>
        <div class="card-footer pt-1 pb-1 ps-2 pe-2">
          <div class="row text-dark">
            <div class="col-10">
              <small>
                <span class="me-2">{{ _('Time') }}: {{ '%02d' % (a.duration.seconds // 3600) }}:{{ '%02d' % (a.duration.seconds % 3600 // 60) }}</span>
                <span>{{ _('Sum') }}: {{ a.cost }}</span>
              </small>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <a href="{{ url_for('delete', class_name='appointment', object_id=a.id, url_back=url_for('appointments_table', **request.args)) }}"><img src="{{ url_for('static', filename='/trash_2.png') }}" alt="delete" width="24"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'appointments_table', **request.args) }}

<script src="{{ url_for('static', filename='js/hammer.js') }}"></script>
<script>
  var myElement = document.getElementById('timetable');
  var hammertime = new Hammer(myElement);
  hammertime.on('swiperight', function(ev) {
      if (document.getElementById('prev')) {
          document.getElementById('prev').click();
          }
  });
  hammertime.on('swipeleft', function(ev) {
      if (document.getElementById('next')) {
        document.getElementById('next').click();
      }
  });
</script>
{% endblock %}