{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-2 mb-2">
      <!-- <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('appointment_create', **request.args) }}';">Add new</button> -->
      <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('services_table', choice_mode=1, **request.args) }}';">Add new</button>
    </div>
    <div class="col-md-10 mb-2">
      <div class='justify-content-end'>
        {% include '_search_form.html' %}
      </div>
    </div>
  </div>
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-primary border-start border-end border-light text-center">
        <th class="col-2">Location</th>
        <th class="col-2">Date / time</th>
        <th class="col-3">Staff</th>
        <th class="col-3">Client</th>
        <th class="col-1">Services</th>
        <th class="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for a in items %}
        <tr class="{{ loop.cycle('table-success', 'table-default') }}  border-start border-end border-light">
          <td class="col-2 ps-3">{{ a.location.name }}</td>
          <td class="col-2 text-center">{{ a.date_time.strftime('%d.%m.%y %H:%M') }} - {{ (a.date_time + a.duration).strftime('%H:%M') }}</td>
          <td class="col-3 text-center">{{ a.staff.name }}</td>
          <td class="col-3 text-center">{{ a.client.name }}</td>
          <td class="col-1 text-center">
            <span class="badge bg-primary rounded-pill">{{ a.services|count }}</span>
          </td>
          <td class="col-1 text-center">
            <a href="{{ url_for('appointment_edit', id=a.id, **request.args) }}"><img src="{{ url_for('static', filename='/edit.png') }}" alt="edit" width="24"></a>
            <a href="{{ url_for('appointment_delete', id=a.id) }}"><img class="ms-2" src="{{ url_for('static', filename='/trash.png') }}" alt="delete" width="23"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% import '_pagination.html' as forms %}
{{ forms.render_pagination(pagination, 'appointments_table', **request.args) }}
{% endblock %}